# Firebase Configuration
EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyAHnoEBZwuQTGEapF-1LgFBHLeDVbLgtt4
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=paypilot-a8801.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=paypilot-a8801
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=paypilot-a8801.firebasestorage.app
EXPO_PUBLIC_FIREBASE_SENDER_ID=987517138749
EXPO_PUBLIC_FIREBASE_APP_ID=1:987517138749:web:29a7d3c5b0691329047754
EXPO_PUBLIC_FIREBASE_MEASUREMENT_ID=G-LGRCJY77KM

# Auth Mode: "firebase" or "demo"
EXPO_PUBLIC_AUTH_MODE=firebase
